<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-lg-4">
     <%= image_tag @product.image_url,class: "img-responsive", width: "840"  %>
     
  </div> <!-- end col-md-8-->
</div> <!--row -->
<div class="col-sm-4 col-lg-12">
 <p>
  <strong>Name:</strong>
  <%= @product.name %></div>
  </p>
 <p>
  <strong>Description:</strong>
  <%= @product.description %>
  </p>
  <p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
  </p>
  <p>
  <strong>Color:</strong>
  <%= @product.colors %>
  </p>
  <p>
 <strong>Price:</strong>
 <%= @product.price %>
 </p>
 <p class="stripe">
  <%= form_tag "/payments/create" do %>
    <%= render partial: "devise/shared/stripe_checkout_button" %>
  <% end %>
</p>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
<%= link_to 'Back', products_path, class: "btn btn-default" %>
</div><!--col-->

 


<%= render 'products/new_comment' %>
<%= render 'comments' %>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <div class="comment" style="margin-top: 30px">
    <%= will_paginate @comments, :container => false  %>
  </div>
</div>

