<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BIKE SHOP</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>Sales</li>
        </ul>
      </div>

    </nav>



  <%= image_tag("logo/racebike.jpg", class: "img-responsive") %>







    <%= yield %>


    <footer id="footer">
      
        &copy; 2015 Bike Berlin
      
    </footer>
  </body>
</html>
